body {
  font-family: "Lobster", cursive;
  margin: 0px;
  background-color: rgba(226, 221, 221, 0.7);
}
p,
small,
a {
  font-family: "Poppins", sans-serif;
}
.flex-container {
  display: flex;
  margin-right: 5%;
  margin-left: 5%;
}
.half-width {
  width: 50%;
  margin-bottom: 5%;
}
.half-width img {
  width: 100%;
  margin-top: 5%;
}
.triple-width {
  width: 33.33%;
  margin: 10px;
  border-radius: 5%;
  padding: 2%;
  box-shadow: 5px 5px 10px rgba(204, 202, 202, 0.9);
}
.triple-width img {
  width: 126px;
  height: 126px;
  margin-top: 8px;
  margin-left: -8px;
}
#mission {
  background-color: rgba(79, 157, 166, 0.1);
}
#vision {
  background-color: rgba(255, 89, 89, 0.1);
}
#goals {
  background-color: #fff4d6;
}
span {
  color: tomato;
}
.sidebar {
  width: 3%;
  height: 87px;
  color: royalblue;
  background-color: royalblue;
  border-radius: 50px;
  margin-top: 52px;
  margin-right: 20px;
  margin-left: -5%;
}
h1 {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}
h2 {
  font-size: 40px;
  font-weight: bold;
}
h3 {
  font-weight: bolder;
  font-size: 30px;
}
.button {
  text-decoration: none;
  background-color: royalblue;
  padding: 1% 2%;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  cursor: alias;
  border: none;
}
.button:hover {
  background-color: rgba(65, 105, 225, 0.7);
}
.input-tag {
  width: 75%;
  display: block;
  margin-bottom: 5px;
  border: 1px solid royalblue;
  border-radius: 5px;
  padding: 1em;
}
footer {
  color: white;
  text-align: center;
  background-color: black;
  padding: 15px;
}
